*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 30px;
}

button {
  font-size: calc(10px + 2vmin);
}

img{
  width:100px;
}

.movie-list{
  display: grid;
  grid-auto-flow: column;
  grid-column: repeat(3, 1fr);
  justify-content: center;
}

.movie-list{
  list-style: none;
}

.movie-item{
  display: inline;
  margin: 30px;
  font-size: 12px;
  text-align: center; 
  height:fit-content;
}

.movie-btn{
  width: fit-content;
  padding: 10px;
  font-size: 10px;
  margin:10px;
}


.img-cart{
  width:50px;
}

.cart{
  display: grid;
  gap: 10px;
  border-top: 1px solid black; 
  justify-content: center;
}
.cart-items__list{
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
}

.cart-items{
display: grid;
grid-auto-flow: column;
grid-template-columns: repeat(4, 60px);
font-size: 15px;
place-items: center;
gap: 15px;
}

.remove-btn{
  width: 60px;
  font-size: 10px;
}