*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}



header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 30px;
}

button {
  font-size: calc(10px + 2vmin);
}

img{
  width:100px;
}

.movie-list{
  display: grid;
  grid-auto-flow: column;
  grid-column: repeat(3, 1fr);
  justify-content: center;
}

ul{
  list-style: none;
}

li{
  display: inline;
  margin: 30px;
  font-size: 12px;
  text-align: center; 
  height:fit-content;
}

button{
  width: fit-content;
  padding: 20px;
  font-size: 10px;
  margin:10px;
}